

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding-top: 80px;
    padding-bottom: 2px;
}

.blue {
    height:auto;
}


.grid-wrapper {
    display:grid;
    gap: 2px;
    grid-template-columns: repeat(3, minmax(25%, 30%));
    justify-content: center;
    align-items: top;
}

.box >img {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 40px;
*/}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.caption { 
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 4px;
}

.box>img:hover {
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box>img:hover {
    transform: scale(1.02);
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}


.cover {
    width: 10rem;
}

.caption1 { 
    font-size: 4vh;
    text-align: center;
    vertical-align: top;
}

/*Footer*/
#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: lightgrey;
   color: white;
   text-align: center;
}

.btn-outline-secondary{
    margin-top: 5px;
    margin-bottom: 5px;
}



/***********************************************************************
 *  Red Background
 **********************************************************************/
.gray{
    background: lightgrey; /* Old browsers */
    height: 50vh;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #084298; /* Old browsers */
    background: -moz-linear-gradient(top, #084298 0%, #1a4d98 44%, #315fa2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#084298), color-stop(44%,#1a4d98), color-stop(100%,#315fa2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #084298 0%,#1a4d98 44%,#315fa2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #084298 0%,#1a4d98 44%,#315fa2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #084298 0%,#1a4d98 44%,#315fa2 100%); /* IE10+ */
    background: linear-gradient(top, #084298 0%,#1a4d98 44%,#315fa2 100%); /* W3C */
}
